@model MVCApp.ViewModels.CourseViewModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Course</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">                
                <span asp-validation-for="TeacherId" class="text-danger"></span>
            </div>
            @*<di       v class="form-group">
                    <select asp-for="Teachers" multiple="multiple" size="1"
                            asp-items="@(new SelectList(Model.Teachers, "Id","FullName"))">
                        <option>Please select one</option>
                    </select>
                </div>*@
            <div class="form-group">
                @Html.DropDownListFor(m => m.Teachers,
                    new SelectList(Model.Teachers, "Id", "FullName"), "انتخاب استاد",
                    new { @id = "dropDownListId" })
                @Html.HiddenFor(m => m.TeacherId, new { id = "teacherId" })
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/lib/jquery/dist/jquery.js"></script>

    <script>       
        $(document).ready(function () {
            $("#dropDownListId").on("change", function () {
                $("#teacherId").val($(this).children("option:selected").val());
            });
        });
    </script>
}
